
body {
  text-align: justify;
  max-width: 1200px;
  margin: auto;
  font-family: helvetica;
}

header {
  background-image: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/09/09/10/average-wedding-cost.jpg?w968h681');
  background-size: cover;
  max-width: auto;
  text-align: center;
  color: black;
}

.navbar {
  max-width: 1170px;
  margin: auto;
  background-color: black;
}

#logo {
  max-width: 400px;
  max-height: 50px;
  margin-left: 10px;
}

h1 {
  text-align: center;
  padding: 120px 0px 270px 0px;
  font-weight: bold;
}

.btn {
  font-size: 16px;
}

.important {
  font-size: 16px;
  font-weight: bold;
}

.jumbotron {
  padding: 30px;
}
