
body {
  text-align: justify;
  max-width: 1200px;
  margin: auto;
  font-family: helvetica;
}

header {
  background-image: url('https://images.pexels.com/photos/256737/pexels-photo-256737.jpeg?cs=srgb&dl=beautiful-blur-bridal-256737.jpg&fm=jpg');
  background-size: cover;
  max-width: auto;
  text-align: center;
  color: black;
}

.navbar {
  max-width: 1170px;
  margin: auto;
  background-color: black;
}

#logo {
  max-width: 400px;
  max-height: 50px;
  margin-left: 10px;
}

h1 {
  text-align: center;
  padding: 110px 0px 280px 0px;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 29px;
}
