
body {
  text-align: justify;
  max-width: 1200px;
  margin: auto;
}

header {
  background-image: url("https://static1.squarespace.com/static/55c1ada8e4b0d26a2ec4b8e8/55e00fafe4b009afc9ab08e4/55e00fb9e4b0c1952c7c22a3/1447799174465/Wendy_Jono-0166.jpg");
  background-size: cover;
  max-width: auto;
  text-align: center;
  color: black;
}

.navbar {
  max-width: 1170px;
  margin: auto;
}

h1 {
  text-align: center;
  padding: 90px 0px 300px 0px;
}

.btn {
  font-size: 16px;
}

.important {
  font-size: 16px;
  font-weight: bold;
}

.jumbotron {
  padding: 30px;
}
